<!DOCTYPE html>
<html>
<body style="background-color: #FE6763;">
	
	<h1 style="color: #800000;">Dear {{name}}</h1>
	
	<div class="empImage" style="height:100px;width:100px;">
    <img alt="" src="cid:image" style="max-height:100%;max-width:100%">
	</div>
	<p style="color: #81d8d0;">We hope that you have a great year and accomplish all the fabulous goals you have set. <br>
May the coming years be filled with happiness, peace, and love.<br> 
 
Have a Great day ahead.<br>
</p>
	
	<h4> From eTouch Family<br>
www.etouch.net <br>
203, Dosti Pinnacle, 2nd  Floor, Plot E-7, Road No. 22,Wagle Estate,  Thane (West) - 400 604 <br>
Tel: (022) 2158-0600 Ext-285<br>
	</h4>
</body>
</html>
